.multiInputSpan {
	display: inline-block !important;
	width: 10px !important;
	line-height: 32px !important;
	text-align: center !important;
}

.multiInputFormItem {
	margin-bottom: 0px !important;
}
