$Header_height: 80px !default;
$Nav_mobile_height: 65px; /* Colors */

/* Colors */
$BrandColor: #96ae09;
$PrimaryColor: #152528;
$SecondaryColor: #59626a;
$SuccessColor: #2b9b36;
$InfoColor: #2661fe;
$WarningColor: #f6b60e;
$DangerColor: #d11d36;
$DisabledColor: #ccc;
$TitleColor: #171717;
$TextColor: #333;
$LinkColor: $SecondaryColor;

/* Backgrounds */
$LightestBackgroundColor: #fff;
$LighterBackgroundColor: #f5f5f5;
$LightBackgroundColor: #edf0f2;
$MediumBackgroundColor: #dde5e6;
$DarkBackgroundColor: #617479;
$DarkerBackgroundColor: #59626a;
$DarkestBackgroundColor: #171717;

/* Borders */
$BorderWidth: 1px;
$BorderColor: #999;

/* Shadows */
$ShadowSize: 12px;
$ShadowColor: #999;

/* Radius */
$RadiusSize: 6px;

/* Header */
$Header_height: 80px !default;

//Generel disable markings
.nomark {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.divScrollableX {
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white),
		linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
	background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-size: 20px 100%, 20px 100%, 8px 100%, 8px 100%;
	background-attachment: local, local, scroll, scroll;
}
