.site-drawer-render-in-current-wrapper {
	position: relative;
	//height: 200px;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: #fafafa;
	border: 1px solid #ebedf0;
	border-radius: 2px;
}
